* {
  -webkit-touch-callout: none;   
  -webkit-text-size-adjust: none;         
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
  background-color: #eeeae7;
  font-family: "helvetica", "arial", sans-serif;
  padding: 0;
  margin: 0;
}

input {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 1.3em;
  border-radius: 6px;
  margin-bottom: 20px;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

#header {
  background: url('../images/bg_sub_banner.jpg') repeat-x;
  color: #fff;
  font-weight: bold;
  height: 70px;
  width: 100%;
}

#header #menu {
  line-height: 70px;
  float: left;
  font-size: 1.3em;
}

#header #back {
  line-height: 70px;
  float: right;
  cursor: pointer;
}

#nav li {
  color: #fff;
  font-weight: bold;
  background: #1f448a;
  cursor: pointer;
  line-height: 90px;
  width: 100%;
  list-style-type: none;
  margin: 10px 0;
}