* {
  -webkit-touch-callout: none;   
  -webkit-text-size-adjust: none;         
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

html, body {
  background-color: #eeeae7;
  font-family: "helvetica", "arial", sans-serif;
  padding: 0;
  margin: 0;
}

input {
  display: block;
  width: 100%;
  padding: 5%;
  font-size: 1.8em;
  border-radius: 6px;
  margin-bottom: 20px;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

#page {
  position: relative;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

#header {
  background: blue;
  color: #fff;
  font-weight: bold;
  height: 130px;
  width: 100%;
}

#header #menu {
  line-height: 130px;
  float: left;
  font-size: 2.0em;
}

#header #back {
  line-height: 130px;
  font-size: 1.8em;
  float: right;
  cursor: pointer;
}

#nav li {
  color: #fff;
  font-weight: bold;
  background: #1f448a;
  cursor: pointer;
  line-height: 200px;
  width: 100%;
  list-style-type: none;
  margin: 10px 0;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 130px;
  width: 100%;
  background: blue;
  z-index: 100;
}